*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0px auto;
    width: 80%;
}
.logo{
    height: 70px;
    padding-right: 30px;
    border-right: 1px solid black;
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 15px;
    padding-top: 40px;
}
nav li a{
    text-decoration: none;
    color: darkgray;   
}
